@media (min-width: 768px) {
  .modal-xl {
    width: 95%;
    max-width:2200px;
  }
}

.opacity-placeholder input::placeholder {
    font-weight: bold;
    opacity: 0.23;
}

.opacity-placeholder  {
    font-weight: bold;
}

@media print {
  .no-print {
    display: none !important;
  }

  button {
    display: none !important;
  }

  .print-only{
    display:block
  }
}

/**/
.border-bottom-3px{
    border-bottom: 3px solid red;
}

.border-bottom-3px-orange{
    border-bottom: 3px solid orange;
}

.border-bottom-3px-yellow{
    border-bottom: 3px solid yellow;
}

.gradient-box {
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}


.input-search-color {
  border-image: conic-gradient(red, green, blue, magenta, red) 1;
}

.input-search-blue {
  border-image: 
    linear-gradient(
      to right, 
      blue, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 1 100%;
}


.input-search-green {
  border-image: 
    linear-gradient(
      to right, 
      blue, 
      green, 
      rgba(0, 0, 0, 0)
    ) 1 1 100%;
}

/**/

/**/
  .input-search:focus {
    outline: none;
  }
  .input-search {
    width: 100%;
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid blue;
  }
  .input-search ~ .border-input-search {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
  }
  .input-search:focus ~ .border-input-search {
    width: 100%;
    transition: 0.8s;
  }
  .border-input-search {
        border: 1px solid blue!important;
  }
/**/

@media (min-width: 992px) {
  .c-sidebar-minimized .c-sidebar-nav {
    overflow: visible !important;
  }
}

.bg-primary-second {
  background-color: #8069f2 !important;
  color: white !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.watermark {
    position: absolute;
    color: lightgray;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    top: 8%;    
    text-align: center;
    z-index: 0;
}


  
  sup {color:red;}

  .pagination {
      flex-wrap: wrap;
  }

  .select2-search--inline {
      display: contents; /*this will make the container disappear, making the child the one who sets the width of the element*/
  }

  .select2-search__field:placeholder-shown {
      width: 100% !important; /*makes the placeholder to be 100% of the width while there are no options selected*/
  }

  .box-color {
    height: 13px;
    width: 13px;
    border: 1px solid black;
  }

  .box-color-discrete {
    height: 8px;
    width: 8px;
  }

  .layout-switcher { position: fixed; bottom: 0; left: 50%; transform: translateX(-50%) translateY(73px); color: #fff; transition: all .35s ease; background: #343a40; border-radius: .25rem .25rem 0 0; padding: .75rem; z-index: 999; }
  .layout-switcher:not(:hover){ opacity: .95; }
  .layout-switcher:not(:focus){ cursor: pointer; }
  .layout-switcher-head{ font-size: .75rem; font-weight: 600; text-transform: uppercase; }
  .layout-switcher-head i{ font-size: 1.25rem; transition: all .35s ease; }
  .layout-switcher-body{ transition: all .55s ease; opacity: 0; padding-top: .75rem; transform: translateY(24px); text-align: center; }
  .layout-switcher:focus{ opacity: 1; outline: none; transform: translateX(-50%) translateY(0); }
  .layout-switcher:focus .layout-switcher-head i{ transform: rotateZ(180deg); opacity: 0; }
  .layout-switcher:focus .layout-switcher-body{ opacity: 1; transform: translateY(0); }
  .layout-switcher-option{ width: 72px; padding: .25rem; border: 2px solid rgba(255,255,255,0); display: inline-block; border-radius: 4px; transition: all .35s ease; }
  .layout-switcher-option.active{ border-color: white; text-decoration: none; }

  .layout-switcher-option.active a:hover{ border-color: white; text-decoration: none; }

  .layout-switcher-icon{ width: 70%; border-radius: 4px; }
  .layout-switcher-body:hover .layout-switcher-option:not(:hover){ opacity: .5; transform: scale(0.9); }
  @media all and (max-width: 990px){ .layout-switcher{ min-width: 250px; } }
  @media all and (max-width: 767px){ .layout-switcher{ display: none; } }



@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.conic {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  
  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(transparent, rgba(245, 252, 255), transparent 80%);
    animation: rotate 8s linear infinite;
  }
  
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 5px;
  }
}


.conic2 {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  
  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(transparent, rgba(255, 243, 240, 0.8), transparent 85%);
    animation: rotate 12s linear infinite;
  }
  
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 5px;
  }
}


.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}


.shadow-separator-wrap{text-align:center}.shadow-separator-wrap .shadow-separator{height:20px;margin:20px auto;overflow:hidden;width:100%;max-width:700px}.shadow-separator-wrap .shadow-separator:after{border-radius:100%;box-shadow:0 0 10px #333;content:"";display:block;height:inherit;position:relative;top:100%}

.has-value {
    color: red;
}

#changeColorPlaceholder::placeholder {
  color: blue;
}